* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#login-page {
  height: 100vh;
  width: 100%;
  background-color: #f6fba2;
  overflow: hidden;
}

.btn-login {
  background-color: #eb9376;
  color: white;
}

.login-second-bg img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.login-card {
  height: 100vh;
}

#home-page {
  height: 100vh;
  width: 100%;
  /* background-color: #f6fba2; */
}

.navbar {
  border-bottom: 2px solid #eb9376;
}

.card-body h5 {
  color: #444;
}
.recipe-card-nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #eb9376;
}

.recipe-card-nav li {
  display: inline-block;
  margin-right: 30px;
}
.recipe-card-nav h3 {
  margin: 0;
  padding: 0;
}

.recipe-card-ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  column-count: 1;
}

.recipe-card-ingredients li {
  margin-bottom: 5px;
}
.recipe-card-ingredients li:before {
  content: "\2022";
  color: #eb9376;
  margin-right: 5px;
}

@media (min-width: 599px) {
  .recipe-card-ingredients {
    column-count: 2;
  }
}

/* ol */
.recipe-card-ingredient {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  column-count: 1;
}

.recipe-card-ingredients li {
  margin-bottom: 5px;
}

.navbar-brand {
  border-right: 2px solid #eb9376;
}
